.fixed{
  position: fixed;
}

  .about{
      position: absolute;
      left: 50vw;
      width: 500px;
      transform: translate(-50%);
      top:3vw;
    }
  .box{
    position: absolute;
    transform: translate(-50% ,-50%);
    font-family:"helvetica";
    top:50%;
    left:50%;
    width:35vw;
    height:15vw;
  }
