.foto1 img{
width:40vw;
height: 40vw;
position: absolute;
top:50%;
left:50%;
transform: translate(-50% ,-50%);
padding-top: 6vw;
}

.escher{
  width:10vw;
  height: 10vw;
  position: absolute;



  }
  .didalscalia{


    position: absolute;

    padding-top: 53vw;
